.container__content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.content__cover img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.content__title h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #222;
}

.content__title hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

.content__description {
  margin-top: 20px;
}

.content__description a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.content__description a:hover {
  text-decoration: underline;
}

.content__description p {
  margin-top: 10px;
  color: #555;
}

.content__text {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #444;
}

.content__text p {
  margin-bottom: 20px;
}

.social-share {
  margin-top: 30px;
  text-align: center;
}

.social-share p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 15px;
}

.social-share a {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: none; /* Esconde o botão inicialmente */
}

.back-to-top:hover {
  background-color: #0056b3;
}

.back-to-top.visible {
  display: block; /* Mostra o botão quando a classe "visible" é adicionada */
}
.reading-time {
  margin-top: 10px;
  font-style: italic;
  color: #777;
}
